ul
  each array in files
    li
      h1= array[0].type
      each file in array
        div
          span= "["
          each href, name in file.themes
            span(style="padding:5px")
              a(href=href)= name
          span= "] - "
          a(href=file.href)= file.name
